/* Intro billede i toppen, som placeres i midten */
.toppen {
  text-align: center;
  height: 1000px;
  background-image: url("https://www.condorferries.co.uk/remote.axd/condorlivemedia.azureedge.net/media/11088/plastic-in-the-ocean.jpg?anchor=center&amp;mode=crop&amp;width=1920&amp;height=1080&amp;rnd=132215866990000000");
  background-color: cornflowerblue; /*hvis baggrundsbilledet failer*/
  background-size: cover;
  margin: -0.5%;
}

body {
  /*background-color: lightcyan;  For browsers that do not support gradients */
  background-image: linear-gradient(#24b5a9, rgb(20, 118, 199));
}

/* Skrifttype til overskrift */
h1 {
  padding-top: 60px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-top: -2%;
}

/* Skrifttype til underrubrik */
h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* Baggrundsfarve på overskriften: "Hvad sker der lige med plastik?" */
.introtekst {
  background-color: aquamarine;
}

/* Introteksten indsættes og placeres i midten */
.intro {
  margin-left: 400px;
  margin-right: 400px;
  text-align: center;
  padding-bottom: 100px;
  padding-top: 50px;
}

/* Billede af garbage patch indsættes og rettes til */
.garbage {
  height: 300px;
  width: 500px;
  background-image: url("https://imageio.forbes.com/blogs-images/scottsnowden/files/2019/05/GreatPacificGarbagePatch.jpg?format=jpg&width=1440");
  background-size: cover;
  float: right;
}

/* Teksten bliver fed */
.intro span {
  font-weight: bold;
}

/* Flexbox layout */
.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 300px; /* Space between rows */
}

.vis1,
.vis2,
.vis3,
.garbage,
.tekstvis1,
.tekstvis2,
.tekstvis3,
.tekstgarbage {
  flex-basis: calc(40% - 20px); /* Danner 3 kolonner med 20px afstand */
  box-sizing: border-box;
  padding: 20px;
}

/* Faktaboks for visualisering 1 */
.tekstvis1.faktaboks {
  width: 200px;
  height: 200px;
  margin: 50px;
  font-size: larger;
}
/* Faktaboks for garbage patch */
.tekstgarbage.faktaboks {
  background-color: lightcyan;
  width: 200px;
  height: 250px;
  margin: 50px;
}

/* Faktaboks for visualisering 2 */
.tekstvis2.faktaboks {
  background-color: cyan;
  width: 200px;
  height: 250px;
  margin: 50px;
}

/* Faktaboks for visualisering 3 */
.tekstvis3.faktaboks {
  background-color: lightcyan;
  width: 200px;
  height: 250px;
  margin: 50px;
}

#tooltip {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 14px;
  opacity: 0; /* Initially hidden */
  pointer-events: none; /* Avoid blocking mouse events on the tooltip itself */
}
