/* Intro billede i toppen, som placeres i midten */
.toppen{
    text-align: center;
    height:500px; 
    background-image: url("https://www.condorferries.co.uk/remote.axd/condorlivemedia.azureedge.net/media/11088/plastic-in-the-ocean.jpg?anchor=center&amp;mode=crop&amp;width=1920&amp;height=1080&amp;rnd=132215866990000000");
    background-color: cornflowerblue; /*hvis baggrundsbilledet failer*/
    background-size: cover;
}

/* Skrifttype til overskrift */
h1{
    padding-top: 60px;
    font-family:fantasy;
}

/* Skrifttype til underrubrik */
h2{
    font-family:fantasy;
}

/* Baggrundsfarve på overskriften: "Hvad sker der lige med plastik?" */
.introtekst{
    background-color: aquamarine;
}

/* Introteksten indsættes og placeres i midten */
.intro{
    margin-left: 400px;
    margin-right: 400px;
    text-align:center;
}

/* Billede af garbage patch indsættes og rettes til */
.garbage{
    height: 300px;
    width: 500px;
    background-image: url("https://imageio.forbes.com/blogs-images/scottsnowden/files/2019/05/GreatPacificGarbagePatch.jpg?format=jpg&width=1440");
    background-size: cover;
    float:right;
}

/* Teksten bliver fed */
.intro span {
    font-weight: bold;
}
